.grid-bg {
    /* 在此处添加你的自定义样式 */
    background: none !important;
    /* 例如，移除背景网格 */
}

:root {
    --va-c-bg-light: rgba(255, 255, 255, 0.8);
    /* 白色背景，80%不透明度 */
    // --va-c-bg-dark: rgba(0, 0, 0, 0.8);
    /* 黑色背景，80%不透明度 */
}

html.dark {
    --va-c-bg-light: rgba(0, 0, 0, 0.8);
    /* 黑色背景，80%不透明度 */
}


.yun-link-desc {
    width: 250px;
}

