// you can custom css here
.link-item {
    width: 407px;
    /* 你可以调整这个值 */
    height: 170px;
    /* 你可以调整这个值 */
    padding: 15px;
    /* 让内部元素更紧凑或更宽松 */
}


.links{
    font-size: .8rem;
    width: 16rem;
}

.link-info{
    width: 250px;
    /* 你可以调整这个值 */
    height: 150px;
    /* 你可以调整这个值 */
}

.link-desc{
   
    height: 20px;
    /* 你可以调整这个值 */
}

.links .link-url .link-desc[data-v-64ff5004] {
    font-size: .8rem;
    width: 16rem;
    /* 这里改成 16rem */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}