// you can custom css here
.link-item {
    width: 407px;
    /* 你可以调整这个值 */
    height: 170px;
    /* 你可以调整这个值 */
    padding: 15px;
    /* 让内部元素更紧凑或更宽松 */
}

.link-url{
    width: 350px;
    /* 你可以调整这个值 */
    height: 150px;
    /* 你可以调整这个值 */
    padding: 15px;
    /* 让内部元素更紧凑或更宽松 */
}

.link-info{
    width: 250px;
    /* 你可以调整这个值 */
    height: 150px;
    /* 你可以调整这个值 */
}

.link-desc{
    width: 240px;
    /* 你可以调整这个值 */
    height: 20px;
    /* 你可以调整这个值 */
}